/* Place CSS styles here */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}


body {
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(236, 250, 253);
}

.main-nav {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.button {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: hwb(0 5% 94%);
  font-size: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
  margin: 15px;
}

.nav-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.intro-wrapper,
.portfolio-main-content-wrapper { 
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
}

.logo {
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-size: 40px;
  color: rgb(30, 30, 31);
}

.summary-intro {
}

.intro {
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px
}

.intro-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items:flex-start
}

.summary-intro {
  
}

.paragraph {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.profile-pic {
  width: 300px;
}

.profile-pic-wrap {
  
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 999px) {
  .intro-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 999px) {
  .portfolio-main-content-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 999px) {
  .main-nav {
      display: none;
  }
}

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 250, 238);
  position: absolute;
  top: 132px;
  left: 0;
  right: 0;
}

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 1000px) {
  .mobile-nav-wrapper {
    display: none;
  }
}

.icon {
  color: black;
  border: none;
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
}

.portfolio-gallery-list{
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4px;
}

@media (max-width: 999px) {
  .portfolio-gallery-list {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.portfolio-gallery-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.portfolio-gallery-list a:hover {
  filter: grayscale(0);
}

.portfolio-gallery-list p {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: hwb(0 5% 94%);
  font-size: 15px; 
}